<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Moja pierwsza strona</title>
    <link rel="stylesheet" href="style.css"> # odwolanie do stylow okreslonych w pliku dla konkternych czesci strony
    # lub bezporednio w konkretnym miejscu strony
    <style>
        h1{
            color: purple;
            text-align: center
            }
        p {
            font-size:180px;
        }
    </style>
</head>
<body>
    <h1> Witaj na naszej stronie!</h1>
    <h2> Drugi nagłowek</h2>

    <ul>
      <li>Punkt pierwszy</li>
      <li>Punkt drugi</li>
      <li>Punkt trzeci</li>
    </ul>
    <ol>
      <li>Punkt pierwszy</li>
      <li>Punkt drugi</li>
      <li>Punkt trzeci</li>
    </ol>
    <p>To jest akapit tekstu</p>
    <a herf="https://www.google.com" target="_blank">Kliknij tutaj</a>
</body>
</html>

<img src="obrazek.jpg" alt="Opis obrazka"/>

<h1></h1>

<div>
<table>
<tr>
<th>
<td>

<nazwa_znacznika> Treść elementu</nazwa_znacznika>